<% provide(:title, "About") %>

<h1>Your Kickass Dev Team</h1>
	<ul>
		<li>Matt Duncan</li>
		<li>Nancy Valladares</li>
		<li>Daniel Rendon</li>
		<li>Matt Thomas</li>
	</ul>

<h2>Our Mission</h2>
	<p>To explore the thoughts and feelings we have while sitting on the crapper. To go where no team has gone before, from our hand to yours... we give you The Outhouse. The next big thing in social media, an app designed from the ground up to be lightning fast, to challenge regular conventions, and is garaunteed to make you laugh.</p>

<h2>Breaking the Norm</h2>
	<p>Why we believe The Outhouse to be a game changer for your bathroom needs..</p>
