<h1>Contact Us</h1>
<p>Mailing address:<br>
	Crap Chat, Inc.<br>
	600 Congress Ave<br>
	Austin, TX 78701<br>
</p>
<p>
	Email:<br> 
	<a href="mailto:email@crapchat.com?subject=Help">
email@crapchat.com</a> 
</p>
