<!-- <h1>StaticPages#links</h1>
<p>Find me in app/views/static_pages/links.html.erb</p> -->
<% provide(:title, "Bad Ass Links") %>

<h1>Links</h1>
<ol>
	<li><a href="http://www.walmart.com/ip/27166464?reviews_limit=9&wmlspartner=wlpa&adid=22222222227018930699&wl0=&wl1=g&wl2=c&wl3=40342871432&wl4=&wl5=pla&wl6=78302979872&veh=sem">Ultra Strong Toilet Paper</a></li>

	<li><a href="http://www.amazon.com/s/?ie=UTF8&keywords=golf+potty+putter&tag=googhydr-20&index=aps&hvadid=40105028167&hvpos=1t1&hvexid=&hvnetw=g&hvrand=20329381194516622&hvpone=&hvptwo=&hvqmt=b&hvdev=c&ref=pd_sl_8iowpzkja7_b">Potty Putter</a></li>

	<li><a href="http://go-girl.com/">Yeah</a></li>

	<li><a href="http://www.toiletfinder.org/">Toilet Finder</a></li>

	<li><a href="http://www.bluntpower.com/">Air Freshener</a></li>

	<li><a href="http://ex-lax.com/">Guaranteed Relief</a></li>
</ol>