
<% provide(:title, @crap.first_name) %>

<div class="row">
 <aside class="col-md-4">
   <section class="user_info">
     <h1>
    		Welcome
         <%= @crap.first_name %>, <%= @crap.last_name %>
     </h1>
   </section>
 </aside>
</div>